@import url(//fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap);

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.trail { /* className for the trail elements */
    position: absolute;
    height: 6px; width: 6px;
    border-radius: 3px;
    background: #ff9b42;
  }
